# =================================================================
# == Project: Masked Video Caption Reconstruction
# ==
# == To install all dependencies, run:
# == pip install -r requirements.txt
# =================================================================

# --- Core Libraries ---
google-genai==1.30.0        # For interacting with the Gemini API
google-api-core==2.25.1     # Required for error handling (retry)
google==3.0.0
pydantic~=2.11.7		    # For robust data modeling and validation
PyYAML~=6.0.2			    # For parsing our .yaml configuration files

# --- Experiment Management & Reproducibility ---
mlflow~=3.1.1			# For tracking experiments, logging metrics, and managing results
GitPython~=3.1.45		# For programmatically interacting with the Git repository (e.g., getting commit hash)
filelock~=3.19.1
pytz~=2025.2

# --- BertScore ---
bert-score~=0.3.13		# For semantic similarity evaluation
torch>=2.4.0			# A required backend for bert-score, compatible with modern torchvision
tiktoken~=0.11.0
sentencepiece~=0.2.1

# --- Video Processing ---
# opencv-python-headless==4.12.0.88  # Optional: For video frame extraction (conflicts with numpy)
# timm==1.0.22                       # Optional: For ViT models

# --- Cache ---
diskcache==5.6.3		# For caching expensive function calls (e.g., embeddings)

# --- Analysis ---
numpy~=2.3.2
pandas~=2.3.1
sklearn-compat~=0.1.4
sklearn-pandas~=2.2.0
rich~=14.1.0

# --- Command line ---
argcomplete~=3.6.2
argparse~=1.4.0
dict-path~=1.1.1
gdown~=5.2.0

# --- Testing ---
pytest==8.4.1
pytest-mock==3.14.1
mlflow-skinny~=3.1.1
protobuf~=5.29.5
